<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>P2-E2</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
 	<context-param>
		<param-name>properties</param-name>
		<param-value>/files/queries/sql.properties</param-value>
	</context-param>
	<context-param>
		<param-name>user</param-name>
		<param-value>p92avavv</param-value>
	</context-param>
	<context-param>	
		<param-name>url</param-name>
		<param-value>jdbc:mysql://oraclepr.uco.es:3306/p92avavv</param-value>
	</context-param>
	<context-param>	
		<param-name>password</param-name>
		<param-value>passwordpw</param-value>
	</context-param>
	<servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  	<servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
 
 <servlet>
    <servlet-name>AdminUsersControl</servlet-name>
    <servlet-class>servlets.AdminUsersControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUsersControl</servlet-name>
    <url-pattern>/AdminUsersControl</url-pattern>
  </servlet-mapping>
 
 <session-config>
  <session-timeout>1</session-timeout>
</session-config>
 
</web-app>