<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>P3</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
 	<context-param>
		<param-name>properties</param-name>
		<param-value>/files/queries/sql.properties</param-value>
	</context-param>
	<context-param>
		<param-name>user</param-name>
		<param-value>p92avavv</param-value>
	</context-param>
	<context-param>	
		<param-name>url</param-name>
		<param-value>jdbc:mysql://oraclepr.uco.es:3306/p92avavv</param-value>
	</context-param>
	<context-param>	
		<param-name>password</param-name>
		<param-value>passwordpw</param-value>
	</context-param>
	<servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  	<servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
 
 <servlet>
    <servlet-name>AdminUsersControl</servlet-name>
    <servlet-class>servlets.AdminUsersControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUsersControl</servlet-name>
    <url-pattern>/AdminUsersControl</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>SearchEspServlet</servlet-name>
    <servlet-class>servlets.SearchEspServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchEspServlet</servlet-name>
    <url-pattern>/SearchEspServlet</url-pattern>
  </servlet-mapping>
 
   <servlet>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>servlets.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddFechaMult</servlet-name>
    <servlet-class>servlets.AddFechaMult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFechaMult</servlet-name>
    <url-pattern>/AddFechaMult</url-pattern>
  </servlet-mapping>
 
 <servlet>
    <servlet-name>AddPasesTemp</servlet-name>
    <servlet-class>servlets.AddPasesTemp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPasesTemp</servlet-name>
    <url-pattern>/AddPasesTemp</url-pattern>
  </servlet-mapping>
 
 <servlet>
    <servlet-name>DeleteCriticaServlet</servlet-name>
    <servlet-class>servlets.DeleteCriticaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCriticaServlet</servlet-name>
    <url-pattern>/DeleteCriticaServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DeleteFechaMult</servlet-name>
    <servlet-class>servlets.DeleteFechaMult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFechaMult</servlet-name>
    <url-pattern>/DeleteFechaMult</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DeletePaseMult</servlet-name>
    <servlet-class>servlets.DeletePaseMult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePaseMult</servlet-name>
    <url-pattern>/DeletePaseMult</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>NewPuntServlet</servlet-name>
    <servlet-class>servlets.NewPuntServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPuntServlet</servlet-name>
    <url-pattern>/NewPuntServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>NewMultServlet</servlet-name>
    <servlet-class>servlets.NewMultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewMultServlet</servlet-name>
    <url-pattern>/NewMultServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>NewTempServlet</servlet-name>
    <servlet-class>servlets.NewTempServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewTempServlet</servlet-name>
    <url-pattern>/NewTempServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>servlets.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>DislikeCriticaServlet</servlet-name>
    <servlet-class>servlets.DislikeCriticaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DislikeCriticaServlet</servlet-name>
    <url-pattern>/DislikeCriticaServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>LikeCriticaServlet</servlet-name>
    <servlet-class>servlets.LikeCriticaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeCriticaServlet</servlet-name>
    <url-pattern>/LikeCriticaServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ModifyFechaMult</servlet-name>
    <servlet-class>servlets.ModifyFechaMult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyFechaMult</servlet-name>
    <url-pattern>/ModifyFechaMult</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ModifyPasesMult</servlet-name>
    <servlet-class>servlets.ModifyPasesMult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyPasesMult</servlet-name>
    <url-pattern>/ModifyPasesMult</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ModifyUserDataServlet</servlet-name>
    <servlet-class>servlets.ModifyUserDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyUserDataServlet</servlet-name>
    <url-pattern>/ModifyUserDataServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>NewCriticaServlet</servlet-name>
    <servlet-class>servlets.NewCriticaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewCriticaServlet</servlet-name>
    <url-pattern>/NewCriticaServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>SearchCriticaServlet</servlet-name>
    <servlet-class>servlets.SearchCriticaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCriticaServlet</servlet-name>
    <url-pattern>/SearchCriticaServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>UserDataServlet</servlet-name>
    <servlet-class>servlets.UserDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDataServlet</servlet-name>
    <url-pattern>/UserDataServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>SearchPuntServlet</servlet-name>
    <servlet-class>servlets.SearchPuntServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPuntServlet</servlet-name>
    <url-pattern>/SearchPuntServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>SearchMultServlet</servlet-name>
    <servlet-class>servlets.SearchMultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMultServlet</servlet-name>
    <url-pattern>/SearchMultServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>SearchTempServlet</servlet-name>
    <servlet-class>servlets.SearchTempServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTempServlet</servlet-name>
    <url-pattern>/SearchTempServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>CreateEspServlet</servlet-name>
    <servlet-class>servlets.CreateEspServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>CreateEspServlet</servlet-name>
    <url-pattern>/CreateEspServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetMultTempServlet</servlet-name>
    <servlet-class>servlets.GetMultTempServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>GetMultTempServlet</servlet-name>
    <url-pattern>/GetMultTempServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetAllEsps</servlet-name>
    <servlet-class>servlets.GetAllEsps</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>GetAllEsps</servlet-name>
    <url-pattern>/GetAllEsps</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ModifyDiaSemana</servlet-name>
    <servlet-class>servlets.ModifyDiaSemana</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>ModifyDiaSemana</servlet-name>
    <url-pattern>/ModifyDiaSemana</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ModifyFechaInicioServlet</servlet-name>
    <servlet-class>servlets.ModifyFechaInicioServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>ModifyFechaInicioServlet</servlet-name>
    <url-pattern>/ModifyFechaInicioServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ModifyFechaFinalServlet</servlet-name>
    <servlet-class>servlets.ModifyFechaFinalServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>ModifyFechaFinalServlet</servlet-name>
    <url-pattern>/ModifyFechaFinalServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ModifyFechaPuntServlet</servlet-name>
    <servlet-class>servlets.ModifyFechaPuntServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>ModifyFechaPuntServlet</servlet-name>
    <url-pattern>/ModifyFechaPuntServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetMultTempDeleteServlet</servlet-name>
    <servlet-class>servlets.GetMultTempDeleteServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>GetMultTempDeleteServlet</servlet-name>
    <url-pattern>/GetMultTempDeleteServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>DeletePaseTemp</servlet-name>
    <servlet-class>servlets.DeletePaseTemp</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>DeletePaseTemp</servlet-name>
    <url-pattern>/DeletePaseTemp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetAllEspsDoneServlet</servlet-name>
    <servlet-class>servlets.GetAllEspsDoneServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>GetAllEspsDoneServlet</servlet-name>
    <url-pattern>/GetAllEspsDoneServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetAllCritsServlet</servlet-name>
    <servlet-class>servlets.GetAllCritsServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>GetAllCritsServlet</servlet-name>
    <url-pattern>/GetAllCritsServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DeleteEspectaculo</servlet-name>
    <servlet-class>servlets.DeleteEspectaculo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEspectaculo</servlet-name>
    <url-pattern>/DeleteEspectaculo</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>GetAllToDelete</servlet-name>
    <servlet-class>servlets.GetAllToDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllToDelete</servlet-name>
    <url-pattern>/GetAllToDelete</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>SearchAllEspsUser</servlet-name>
    <servlet-class>servlets.SearchAllEspsUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAllEspsUser</servlet-name>
    <url-pattern>/SearchAllEspsUser</url-pattern>
  </servlet-mapping>
 
  <filter>  
<filter-name>f1</filter-name>  
<filter-class>servlets.AdminAuthServlet</filter-class>  
</filter>  
<filter-mapping>
    <filter-name>f1</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>
<session-config>
        <session-timeout>5</session-timeout>
</session-config>
</web-app>